In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("tags.csv")

In [5]:
df.head()

                                                 tag  Frequency
0  "everyonehasaplantilltheygetpunchedinthemouth"...          1
1                                       00daysofcode          1
2                                 00daysofcommitment          1
3                                    30daychallenges          1
4                                30daysofgooglecloud          1

In [6]:
def clean_tag(tag):
    if isinstance(tag,str):
        tag = tag.strip().lower()
        return tag

In [7]:
df['cleaned_tag'] = df['tag'].apply(clean_tag)

In [23]:
valid_tags = df['cleaned_tag'].notnull() &df['cleaned_tag'].str.len()>0
df = df[valid_tags]
df.head()

,tag,Frequency,cleaned_tag,standardized_tag,categories
3,30daychallenges,1,30daychallenges,30daychallenges,[]
4,30daysofgooglecloud,1,30daysofgooglecloud,30daysofgooglecloud,[]
6,3danimation,1,3danimation,3danimation,[3d]
8,3dart,1,3dart,3dart,[3d]
13,3ddesigning,1,3ddesigning,3ddesigning,[3d]

In [9]:
#for groups
tag_groups = {
    'javascript' : ['javascript', 'js'],
    'python' : ['python' , 'py'],
    'ai' : ['ai' ,'ai&ds' ,'ai&machinelearning' ,'ai&ml' ,'ai/deeplearning' ,'ai/ml' ,'ai/mldatascience' ,'ai/mldeveloper' ,'ai/mldevelopment' ,'ai/mlengineer' ,'ai/mlenthusiast' ,'ai/mlmodeling' ,'ai/ms' ,'aiadvancements' ,'aialgorithms' ,'aiandmachinelearning' ,'aiandmi' ,'aiandml' ,'ai-apm' ,'aiapps' ,'aiasiaodyssey' ,'ai-automation' ,'ai-basedchatbot' ,'aibot' ,'aibuilder' ,'aichatbot' ,'aidesign' ,'aideveloper' ,'aideveloppment' ,'aiengineering'],
    'aiml' : ['aiml','ai-ml'],
    'html' : ['html' , 'htm'],
    'node.js' : ['node.js' ,'nodejs' ,'node'],
    'react' : ['react' , 'reactjs' ,'react.js'],
    'angular' : ['angular' ,'angularjs'],
    '5g' : ['5g' ,'5gcore' ,'5gdeveloper' ,'5g-nr'],
}

In [10]:
def map_tag(tag):
    for key, values in tag_groups.items():
        if tag in values:
            return key
        return tag

In [11]:
df['standardized_tag'] = df['cleaned_tag'].apply(map_tag)
df.head()

,tag,Frequency,cleaned_tag,standardized_tag
0,"""everyonehasaplantilltheygetpunchedinthemouth""...",1,"""everyonehasaplantilltheygetpunchedinthemouth""...","""everyonehasaplantilltheygetpunchedinthemouth""..."
1,00daysofcode,1,00daysofcode,00daysofcode
2,00daysofcommitment,1,00daysofcommitment,00daysofcommitment
3,30daychallenges,1,30daychallenges,30daychallenges
4,30daysofgooglecloud,1,30daysofgooglecloud,30daysofgooglecloud

In [13]:
#for categories
tag_categories = {
    'web development' : ['front end development','front end web developer','web developer','redux','wed dev','vuejs','javascript','xml','html','css','node.js','react','angular','python','php','api','java','ruby','c','c++','reactjs','reactnative'],
    'Data Science' : ['data analysts','data analytical','database','data base','python','artifitial intelligence','tableau','statistical analytics','statistical','statistical data analysis','statistical modelling','aiml','tensorflow','pytorch','ai','machine learning','data analysis','r','sql','deep-learning','julia','scala','sas','matlab','data science','data mining','data scientist','data scraping'],
    'Backend': ['django', 'flask', 'nodejs','backend','sql','nosql','python','snowflake','go','php','ruby','dbms','database management','database management system (dbms)','database management systems','database skills','database(mongodb)','databases','bigdata','tableau','powerbi'],
    'AndroidApp Development':['swift','java','kotlin','react','flutter','react native','app development','android','redux','android app','android app developer','android app development','android application','bigdata','flutter app','flutter app development'],
    'Commudle':['commudle','devfest','devfest2019','devfest2023','devfest2023 new delhi','devfestnewdelhi2023','devfestnewdelhi22'],
    'Web Design':['web designing','html','css','javascript','sass','less','typescript','wordpress','bootstrap','tailwind css' ,'svg','wordpress','canvas','figma'],
    'Cyber Security':['cyber security','c','c++','assembly language','python','data security','web','bash','powershell','c#','java','sql','ruby','cyber','cyber crime','cyber defence','cyber ethical hacking','cyber forensics'],
    'Marketing':['marketing','sales','digital marketing','social media handling','social media management','social media marketer','social media strategist','social media strategy'],
    'Software development':['software development','prototyping','uiux design','uiux designer','ui/ux','sed','ui design','testing and debugging','spring boot','c','c++','python'],
    'MS Office':['ms office','ms word','ms excel','documentation'],
    'Social Media':['social media','video editing','website'],
    'DSA':['dsa','dsa problem solving','redis','dbms','database management','database management system (dbms)','database management systems','database skills','database(mongodb)','databases'],
    'Fresher':['internship','freelancing','freelance','fresher','artists','student','startup'],
    'Graphic Designing':['unity3d','unity','vfx','graphic designing','blender','3d design', '2d designing' ,'3d printing','3d designer', '3d modeling','3d printing'],
    'Soft skill':['softskills','foreign language','programming','writing','public speaking','time management','team management','team work','problem solving','creative mind','technical writing','coding','designers','designing','spiritual','creative problem solver','reasoning skill','resarch skill','self discipline','self management','respect','creative skills','creative strategy','creative thinking','creativity and innovation','creativity skills','creator'],
    'Community':['community','wow','gdg','gdg cloud community','gdg event','gdg new delhi','gdg noida','gdg-new-delhi'],
    'Full Stack':['full stack','c','c++'],
    'Data Visualization':['datavisualization'],
    'Animator':['3d animator','animation','anime'],
    'Cloud conputing':['cloud','cloud admin','aws','aws cloud','aws basic','aws/azure','aws solution architect','awsec2','aws cognito','cloud adoption stratagy','cloud analyst','cloud application','cloud architect','cloud azure','cloud compute','cloud computing','cloud data engineer','cloud database engineer','cloud dev','cloud developer','cloud development','cloud deveops','cloud engineering'],
    'BlockChain':['block chain','bitcoin','blockchaindeveloper','block chain developer','blockchain architecture','blockchain engineer','blockchain enthusiast','blockchain fundamentals','blockchain research','blockchain talk','blockchain technology','blockchain writer'],
    '3d' : ['3dart' ,'3danimation' ,'3dartist' ,'3ddesign' ,'3ddesigner','3ddesigning' ,'3dmodelling' ,'3dmodellingandanimation' ,'3danimator' ,'3dmodellinganimator' ,'3dprinting' ,'3drender' ,'3dsmax'],
     'access' : ['access' ,'accessibility' ,'accessibilitydesign' ,'accessibilitydevelopment' ,'accessibilitytesting' ,'accessible'],
    'adobe' : ['adobe' ,'adobeafteraffects' ,'adobeanalytics' ,'adobeanimate' ,'adobecaptivate' ,'adobecreativecloud' ,'adobecreativesuite' ,'adobeexperiencedesign' ,'adobeexperiencemanager' ,'adobeexpert' ,'adobeflash' ,'adobeillistrator' ,'adobeindesign' ,'adobelightroom' ,'adobephotoshop' ,'adobepremier' ,'adobepremierepro' ,'adobepythoncsqlhtmlcss' ,'adobesuite' ,'adobexd'],
    }

In [14]:
def categorize_tag(tag):
    categories = []
    for category , tags in tag_categories.items():
        if tag in tags:
            categories.append(category)
    return categories

In [15]:
df['categories'] = df['standardized_tag'].apply(categorize_tag)
df.head()

,tag,Frequency,cleaned_tag,standardized_tag,categories
0,"""everyonehasaplantilltheygetpunchedinthemouth""...",1,"""everyonehasaplantilltheygetpunchedinthemouth""...","""everyonehasaplantilltheygetpunchedinthemouth""...",[]
1,00daysofcode,1,00daysofcode,00daysofcode,[]
2,00daysofcommitment,1,00daysofcommitment,00daysofcommitment,[]
3,30daychallenges,1,30daychallenges,30daychallenges,[]
4,30daysofgooglecloud,1,30daysofgooglecloud,30daysofgooglecloud,[]

In [16]:
#for summary
total_tags = df['tag'].nunique()

In [17]:
valid_tags = df['standardized_tag'].nunique()

In [18]:
invalid_tags = total_tags - valid_tags

In [19]:
most_popular_tags = df.groupby('standardized_tag')['Frequency'].sum().sort_values(ascending=False).head(10)

In [20]:
most_popular_categories = df.explode('categories').groupby('categories')['Frequency'].sum().sort_values(ascending=False).head(10)

In [21]:
summary = {
    'TOTAL TAGS' : total_tags,
    'VALID TAGS' : valid_tags,
    'INVALID TAGS' : invalid_tags,
    'MOST POPULAR TAGS' : most_popular_tags,
    'MOST POPULAR TAG CATEGOIES' : most_popular_categories
}

In [22]:
for key, value in summary.items():
    print(f"{key}:")
    print(value)
    print()

TOTAL TAGS:
8542

VALID TAGS:
8477

INVALID TAGS:
65

MOST POPULAR TAGS:
standardized_tag
🎖4xmicrosoftcertified        14527
c++/dsa                      14400
python(learning)             13328
appliedresearch              12512
javaspringboot               12394
career                       10730
machinelearningalgorithms    10705
javac                        10563
curated                       9021
html5/css3                    7744
Name: Frequency, dtype: int64

MOST POPULAR TAG CATEGOIES:
categories
Backend                   1090
web development            749
Commudle                   293
Software development       116
Cyber Security             105
Data Science                97
Web Design                  55
Graphic Designing           53
Cloud conputing             36
AndroidApp Development      32
Name: Frequency, dtype: int64